body, html
{
  /* Sizing background*/
  height: 100%;
  width: 100%;
  overflow: hidden;

  /* Background source*/
  background-image: url("../images/background_1.png");

   /* Background scaling*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




@media all and (max-width: 1024px)
{
  *
  {
    width: auto;
    height: auto;
  }
}